
        #image_preview {
            border: 0;
            width: 128px;

        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        #mymap {
            border:1px solid blue;
            width: 300px;
            height: 300px;
        }

        .panel-heading .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
            content: "\e114";    /* adjust as needed, taken from bootstrap.css */
            float: right;        /* adjust as needed */
            color: grey;         /* adjust as needed */
        }
        .panel-heading .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080";    /* adjust as needed, taken from bootstrap.css */
        }


        .input-file-row-1:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        .input-file-row-1{
            display: inline-block;
            margin-top: 25px;
            position: relative;
        }

        html[xmlns] .input-file-row-1{
            display: block;
        }

        * html .input-file-row-1 {
            height: 1%;
        }

        .upload-file-container { 
            position: relative; 
            width: 100px; 
            height: 137px; 
            overflow: hidden;	
            background: url(http://i.imgur.com/AeUEdJb.png) top center no-repeat;
            position: absolute; 
            left: 140px; 
            bottom: 120px;
        } 

        .upload-file-container:first-child { 
            margin-left: 0;
        } 

        .upload-file-container > img {
            width: 93px;
            height: 93px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

        .upload-file-container-text{
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #719d2b;
            line-height: 17px;
            text-align: center;
            display: block;
            position: absolute; 
            left: 0; 
            bottom: 0; 
            width: 100px; 
            height: 35px;
        }

        .upload-file-container-text > span{
            border-bottom: 1px solid #719d2b;
            cursor: pointer;
        }

        .upload-file-container input  { 
            position: absolute; 
            left: 0; 
            bottom: 0; 
            font-size: 1px; 
            opacity: 0;
            filter: alpha(opacity=0);	
            margin: 0; 
            padding: 0; 
            border: none; 
            width: 70px; 
            height: 50px; 
            cursor: pointer;
        }

